
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="text-center">
    <img src="https://img.freepik.com/premium-vector/hotel-logo-simple-illustration_434503-736.jpg?w=2000"
      style="width: 60px;" alt="logo">
  </div>
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['home']" style="color: orange;">HOME</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['signup']" style="color: orange;">REGISTER</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['login']" style="color: orange;">LOGIN</a>
      </li>
      
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['about']" style="color: orange;">ABOUT ROOMS</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['home']" style="color: orange;">LOGOUT</a>
      </li>


      
    </ul>
  </div>
</nav> 

<router-outlet></router-outlet>
